<nav class="top-nav" aria-label="Main navigation">
  <ul class="menu">
    <li><a href="{{ '/' | relative_url }}">Home</a></li>
    <li><a href="{{ '/call-for-proposals' | relative_url }}">Call for proposals</a></li>
    <li><a href="{{ '/registration' | relative_url }}">Registration</a></li>
    <li><a href="{{ '/schedule' | relative_url }}">Schedule</a></li>
    <li><a href="{{ '/keynote-speakers' | relative_url }}">Keynote speakers</a></li>
    <li><a href="{{ '/useful-information' | relative_url }}">Useful information</a></li>
  </ul>
</nav>
