<nav class="top-nav" aria-label="Main navigation">
  <ul class="menu">
    <li>{{ '/' | relative_url }}Home</a></li>
    <li>{{ '/call_for_proposals' | relative_url }}</li>
    <li>{{ '/registration' | relative_url }}</li>

    <!-- Schedule con dropdown on click -->
    <li class="dropdown">
      Schedule ▾
      <ul class="dropdown-menu">
        <li>{{ '/day1' | relative_url }}</li>
        <li>{{ '/day2' | relative_url }}</li>
        <li>{{ '/day3' | relative_url }}</li>
      </ul>
    </li>

    <li>{{ '/keynote_speakers' | relative_url }}</li>
    <li>{{ '/venue' | relative_url }}</li>
    <li>{{ '/useful_info' | relative_url }}</li>
  </ul>
</nav>
